body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #00c9b7;
    background-color: transparent;
    border: 2px solid #00c9b7;
}
.nav-link{
    color: #00c9b7;
    font-size: 25px;
}
.nav-link:hover{
    color: #00c9b7;
}
.app{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    min-height: 100vh;
    height: 100%;
}
@media(min-width: 767px){
.title, .descr {
    width: 50%;
    margin: 0 auto;
}}
.add-btn{
    background-color: #00c9b7;
    border-color: #00c9b7;
    margin: 0 auto;
    display: block;
}
i.fa.fa-trash {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.card-body input#titleChange{
    border:none;
    outline: none;
    width: 100%;
}
.card-body textarea#descrChange{
    border:none;
    outline: none;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.text {
    text-align: center;
    margin-top: 30px;
}
.edit{
    display: flex;
}
.list-title{
    text-align: center;
    margin-top: 30px;
}
.custom-text{
    font-weight: bold;
}
.modal-content i.fa.fa-trash{
display: none;
}
button.btn.btn-primary.btn-lg.btn-block {
    background-color: #00c9b7;
    border-color: #00c9b7;
    position: fixed;
    bottom:0;
}
.btn-secondary {
    background-color: #00c9b7;
    border-color: #00c9b7;
}